<a href="https://colab.research.google.com/github/anapmdm/covid-19/blob/main/Teste_de_dados_globais_covid_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Aplicando os conhecimentos de DS em dados globais do Covid 19**

Dados retirados do site da OMS.

In [3]:
#Importando pandas
import pandas as pd
#importando o arquivo csv
df=pd.read_csv('https://raw.githubusercontent.com/anapmdm/covid-19/main/WHO%20COVID-19%20global%20table%20data%20February%2013th%202021%20at%2011.46.48%20AM.csv')
df.head()

                       Name  ... Transmission Classification
0                    Global  ...                         NaN
1  United States of America  ...      Community transmission
2                     India  ...           Clusters of cases
3                    Brazil  ...      Community transmission
4        Russian Federation  ...           Clusters of cases

[5 rows x 13 columns]

In [7]:
#tamanho do df
df.shape

(238, 13)

In [8]:
df.tail()

             Name  ... Transmission Classification
233  Saint Helena  ...                    No cases
234       Tokelau  ...                    No cases
235         Tonga  ...                    No cases
236  Turkmenistan  ...                    No cases
237        Tuvalu  ...                    No cases

[5 rows x 13 columns]

In [15]:
df.columns

Index(['Name', 'WHO Region', 'Cases - cumulative total',
       'Cases - cumulative total per 100000 population',
       'Cases - newly reported in last 7 days',
       'Cases - newly reported in last 7 days per 100000 population',
       'Cases - newly reported in last 24 hours', 'Deaths - cumulative total',
       'Deaths - cumulative total per 100000 population',
       'Deaths - newly reported in last 7 days',
       'Deaths - newly reported in last 7 days per 100000 population',
       'Deaths - newly reported in last 24 hours',
       'Transmission Classification'],
      dtype='object')

In [22]:
#media dos novos casos nos ultimos 7 dias
df['Cases - newly reported in last 7 days'].mean()

23777.36974789916

In [26]:
#mediana dos novos casos nos ultimos 7 dias
df['Cases - newly reported in last 7 days'].median()

28.69

In [25]:
df.describe()

       Cases - cumulative total  ...  Deaths - newly reported in last 24 hours
count              2.380000e+02  ...                                238.000000
mean               9.049299e+05  ...                                106.672269
std                7.249890e+06  ...                                864.381222
min                0.000000e+00  ...                                  0.000000
25%                1.969750e+03  ...                                  0.000000
50%                1.981050e+04  ...                                  0.000000
75%                1.963315e+05  ...                                 13.000000
max                1.076867e+08  ...                              12694.000000

[8 rows x 10 columns]